.positionMarker {
  position: absolute;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.positionMarkerWide {
  background-color: rgba(59, 130, 246, 0.2);
  border-color: rgba(59, 130, 246, 0.3);
}

.positionMarkerDefault {
  background-color: rgba(107, 114, 128, 0.2);
  border-color: rgba(107, 114, 128, 0.3);
}

.positionMarkerOverValid {
  background-color: rgba(34, 197, 94, 0.2);
  border-color: rgba(34, 197, 94, 0.3);
}

.positionMarkerOverInvalid {
  background-color: rgba(239, 68, 68, 0.2);
  border-color: rgba(239, 68, 68, 0.3);
}

.positionMarkerPosition {
  position: absolute;
} 